body{
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}